UploadFile.BAL/Connected Services/UploadFileMyService/UploadFileService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UploadFileService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:59955/UploadFileService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:59955/UploadFileService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:59955/UploadFileService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/UploadFile.DAL.UploadFileModel" />
      <xsd:import schemaLocation="http://localhost:59955/UploadFileService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.IO" />
      <xsd:import schemaLocation="http://localhost:59955/UploadFileService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System" />
      <xsd:import schemaLocation="http://localhost:59955/UploadFileService.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/Message" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUploadFileService_SaveFile_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveFile" />
  </wsdl:message>
  <wsdl:message name="IUploadFileService_SaveFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveFileResponse" />
  </wsdl:message>
  <wsdl:message name="IUploadFileService_CollectStream_InputMessage">
    <wsdl:part name="parameters" element="tns:CollectStream" />
  </wsdl:message>
  <wsdl:message name="IUploadFileService_CollectStream_OutputMessage">
    <wsdl:part name="parameters" element="tns:CollectStreamResponse" />
  </wsdl:message>
  <wsdl:message name="IUploadFileService_SumChunk_InputMessage">
    <wsdl:part name="parameters" element="tns:SumChunk" />
  </wsdl:message>
  <wsdl:message name="IUploadFileService_SumChunk_OutputMessage">
    <wsdl:part name="parameters" element="tns:SumChunkResponse" />
  </wsdl:message>
  <wsdl:portType name="IUploadFileService">
    <wsdl:operation name="SaveFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IUploadFileService/SaveFile" message="tns:IUploadFileService_SaveFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUploadFileService/SaveFileResponse" message="tns:IUploadFileService_SaveFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CollectStream">
      <wsdl:input wsaw:Action="http://tempuri.org/IUploadFileService/CollectStream" message="tns:IUploadFileService_CollectStream_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUploadFileService/CollectStreamResponse" message="tns:IUploadFileService_CollectStream_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SumChunk">
      <wsdl:input wsaw:Action="http://tempuri.org/IUploadFileService/SumChunk" message="tns:IUploadFileService_SumChunk_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUploadFileService/SumChunkResponse" message="tns:IUploadFileService_SumChunk_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUploadFileService" type="tns:IUploadFileService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SaveFile">
      <soap:operation soapAction="http://tempuri.org/IUploadFileService/SaveFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CollectStream">
      <soap:operation soapAction="http://tempuri.org/IUploadFileService/CollectStream" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SumChunk">
      <soap:operation soapAction="http://tempuri.org/IUploadFileService/SumChunk" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UploadFileService">
    <wsdl:port name="BasicHttpBinding_IUploadFileService" binding="tns:BasicHttpBinding_IUploadFileService">
      <soap:address location="http://localhost:59955/UploadFileService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>