UploadFile.BAL/Connected Services/UploadFileMyService/UploadFileService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/UploadFile.DAL.UploadFileModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/UploadFile.DAL.UploadFileModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:59955/UploadFileService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.IO" />
  <xs:complexType name="UploadFileModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Date" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FileBlanke" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="FileSize" type="xs:long" />
      <xs:element minOccurs="0" name="IdFile" type="xs:long" />
      <xs:element minOccurs="0" name="IssueTracking" nillable="true" type="xs:short" />
      <xs:element minOccurs="0" name="NameFile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumberOfChunck" type="xs:long" />
      <xs:element minOccurs="0" name="PhoneNumber" type="xs:long" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.IO" minOccurs="0" name="StreamFile" nillable="true" type="q1:Stream" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/System.IO" minOccurs="0" name="streamListFile" nillable="true" type="q2:ArrayOfStream" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UploadFileModel" nillable="true" type="tns:UploadFileModel" />
</xs:schema>