UploadFile.BAL/Connected Services/UploadFileMyService/UploadFileService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:59955/UploadFileService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/UploadFile.DAL.UploadFileModel" />
  <xs:import schemaLocation="http://localhost:59955/UploadFileService.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/Message" />
  <xs:element name="SaveFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/UploadFile.DAL.UploadFileModel" minOccurs="0" name="model" nillable="true" type="q1:UploadFileModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveFileResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CollectStream">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/Message" name="model" type="q2:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CollectStreamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CollectStreamResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SumChunk">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SumChunkResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SumChunkResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>